.outer-box{
    
    
    height: 90vh;
    border: 2px solid black;
    margin: auto;
}
.header{
    width: 100%;
    height: 60px;
    margin: auto;
    border: 2px solid black;
}
.main{
    width: 100%;
    /* height: 150px; */
    display:flow-root;
    /* overflow: auto; */
    border: 2px solid green;
    margin-top: 20px;
}
.box{
    width: 90px;
    height: 90px;
    border: 2px solid blue;
    float: left;
    margin: 20px;

}
.footer{
    margin-top: 90px;
    width: 100%;
    height:50px;
    border: 2px solid orange;
    clear:both;

}